



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="/AppPortafolio/static/images/favicon.ico" type="image/x-icon"> -->
    <link rel="shortcut icon" href="/AppPortafolio/static/images/img2.jpeg" type="image/x-icon">

    <title>Inicio</title>
</head>

<body>
    <main>
        <!-- Navigation -->
        <nav class="navbar">
            <div class="container">
                <a href="" class="navbar-brand" ><span>Start bootstrap</span></a>
                <button class="navbar-toggle" type="button"><span class="navbar-toggle-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul>
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link" target="_blank">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end of navigation -->
    </main>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>